:root {
  /* color */
  --color-black: #212121;
  --color-grey:  #86888a;
  --color-light-grey: #d7dadc;
  --color-dark-grey: #3a3a3c;
  --color-strike: rgb(83, 141, 78);
  --color-ball: rgb(181, 159, 59);
  --color-miss: rgb(58, 58, 60);

  /* size */
  --font-very-large: 48px;
  --font-large: 36px;
  --font-medium: 24px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 10px;

  /* animation */
  --animation-duration: 500ms;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  padding: 0;
  background-color: var(--color-black);
  color: var(--color-light-grey);
}

body {
  margin: auto;
  cursor: default;
  max-width: 600px;
  height: 100vh;
  padding: 0;
}

#game {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* navbar */
.navbar__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 50px;
}

.navbar__container-title {
  font-size: var(--font-large);
  font-weight: 800;
  flex-grow: 1;
  margin-left: 20px;
  margin-bottom: 10px;
}

.navbar__container-help,
.navbar__container-title,
.navbar__container-statistics,
.navbar__container-setting {
  padding: 5px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.navbar__line {
  border-bottom: 1px solid grey;
  margin: 0px 50px;
}

/* game result */
.game__result {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
  transition: all 1s ease;
  opacity: 0;
  z-index: 1;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 5px;
}

.game__result.show {
  opacity: 0.9;
}

.result__answer {
  color:cadetblue;
  font-weight: 800;
  font-size: var(--font-medium);
}

/* game grid */
.game__grid {
  flex-grow: 1;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.grid__row {
  display: flex;
  justify-content: center;
}

.grid__column {
  border: 3px solid var(--color-dark-grey);
  width: 70px;
  height: 70px;
  margin: 3px;
  font-size: var(--font-large);
  font-weight: 800;
  text-align: center;
  transition: all var(--animation-duration) ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid__column.inserting {
  border: 1px solid white;
  transform: scale(1.1);
}

.grid__column.finishing {
  transform: scaleY(0);
}

.grid__column.strike {
  background-color: var(--color-strike);
  transform: scaleY(1);
}

.grid__column.ball {
  background-color: var(--color-ball);
  transform: scaleY(1);
}

.grid__column.miss {
  background-color: var(--color-miss);
  transform: scaleY(1);
}

/* game keyboard */
.game__keyboard {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.keyboard__row {
  display: flex;
  justify-content: center;
}

.keyboard__row-key {
  background-color: var(--color-grey);
  font-size: var(--font-regular);
  font-weight: 600;
  min-width: 45px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  margin-bottom: 5px;
  padding: 0px 5px;
  border-radius: 5px;
  text-align: center;
  transition: all var(--animation-duration) ease;
}

.keyboard__row-key.miss {
  background-color: var(--color-miss);
  transform: scaleY(1);
}

.keyboard__row-key.ball {
  background-color: var(--color-ball);
  transform: scaleY(1);
}

.keyboard__row-key.strike {
  background-color: var(--color-strike);
  transform: scaleY(1);
}

@media screen and (max-width: 550px) {
  :root {
    /* size */
    --font-very-large: 30px;
    --font-large: 25px;
    --font-medium: 16px;
    --font-regular: 12px;
    --font-small: 10px;
    --font-micro: 6px;
  }
  .navbar__container {
    padding: 0px 20px;
  }

  .game__grid {
    margin-top: 10px;
  }

  .grid__column {
    min-height: 40px;
  }

  .keyboard__row-key {
    min-width: 30px;
    min-height: 50px;
    flex-grow: 1;
  }
}